USE [master]
GO
/****** Object:  Database [shop]    Script Date: 11.01.2026 17:41:52 ******/
CREATE DATABASE [shop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'shop', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\shop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'shop_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\shop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [shop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [shop]
GO
/****** Object:  Table [dbo].[artifact]    Script Date: 11.01.2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[artifact](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](40) NOT NULL,
	[usage] [varchar](50) NOT NULL,
	[dangerous] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[list]    Script Date: 11.01.2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[list](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[artifact_id] [int] NOT NULL,
	[quality] [float] NOT NULL,
	[price] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[get_pricelist]    Script Date: 11.01.2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[get_pricelist]
as 
select list.id, artifact.title, artifact.usage, artifact.dangerous, quality, price from list 
inner join artifact on list.artifact_id = artifact.id
GO
/****** Object:  Table [dbo].[race]    Script Date: 11.01.2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[race](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 11.01.2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nickname] [varchar](20) NOT NULL,
	[race_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_status]    Script Date: 11.01.2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_status](
	[id] [int] NOT NULL,
	[name] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[commission]    Script Date: 11.01.2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[commission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[list_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[order_date] [datetime] NOT NULL,
	[status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[get_commissions]    Script Date: 11.01.2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[get_commissions] 
as 
select commission.id, customer.nickname, artifact.title as artifact, order_status.id as status_id
from commission 
inner join list on commission.list_id = list.id
inner join artifact on list.artifact_id = artifact.id
inner join customer on customer.id = commission.customer_id
inner join race on customer.race_id = race.id
inner join order_status on status_id = order_status.id
GO
/****** Object:  View [dbo].[get_stats_per_order_customer]    Script Date: 11.01.2026 17:41:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[get_stats_per_order_customer] AS
SELECT
    co.customer_id, 
    COUNT(co.id) AS pocet_objednavek,
    MAX(l.price) AS nejdrazsi_objednany,
    MIN(l.price) AS nejlevnejsi_objednany,
    (SELECT COUNT(*) FROM list) AS pocet_artefaktu_v_nabidce
FROM commission co
JOIN list l ON co.list_id = l.id
GROUP BY co.customer_id;
GO
ALTER TABLE [dbo].[commission]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customer] ([id])
GO
ALTER TABLE [dbo].[commission]  WITH CHECK ADD FOREIGN KEY([list_id])
REFERENCES [dbo].[list] ([id])
GO
ALTER TABLE [dbo].[commission]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[order_status] ([id])
GO
ALTER TABLE [dbo].[customer]  WITH CHECK ADD FOREIGN KEY([race_id])
REFERENCES [dbo].[race] ([id])
GO
ALTER TABLE [dbo].[list]  WITH CHECK ADD FOREIGN KEY([artifact_id])
REFERENCES [dbo].[artifact] ([id])
GO
ALTER TABLE [dbo].[list]  WITH CHECK ADD CHECK  (([price]>(0)))
GO
ALTER TABLE [dbo].[list]  WITH CHECK ADD CHECK  (([quality]>(0) AND [quality]<(11)))
GO
USE [master]
GO
